body {
    background: linear-gradient(to right, #a445b2, #d41872);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#runButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.runButton {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

#scores p {
    font-size: 18px;
    margin: 5px 0;
}
