body {
    background: linear-gradient(to right, #a445b2, #d41872);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#container, #multiplayerOptions, #roomOptions, #gameArea {
    text-align: center;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

#runButtons {
    margin-top: 20px;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

#scores {
    font-size: 18px;
    margin-top: 20px;
}
